<p id="notice"><%= notice %></p>
<!-- Displays table-->
<h1>Files</h1>
<ul class="list-group">
<div class="panel panel-default">
<table class="table table-striped">
  <thead>
    <tr>
      <th>File Name</th>
      <th>File Size</th>
      <th>Date Uploaded</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <!-- Fill the table body with every asset the user owns-->
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.asset.original_filename %></td>
        <td><%= asset.asset.size/1024%> KB</td>
        <td><%= asset.created_at %></td>
        <td>
          <% if(current_user.admin?) %>
            <%= link_to 'Edit', edit_asset_path(asset) %>
          <% end %>
          <%= link_to 'Delete', asset, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to "Download", enter_password_asset_path(asset)%>
          <%= link_to 'Share', sharing_asset_path(asset) %>
          <%= link_to 'Shared With', share_index_asset_path(asset) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</ul>
<br>
<ul class="list-group">
<!-- Button for uploading a file -->
<a class="btn btn-primary btn-lg" href=<%=new_asset_path%> role="button">Upload File</a>
</ul>