<h1>Upload New File</h1>

<!-- Should be in partial? -->
<% if( @asset.errors.any?) %>
 <div id="error_explanation">
      <div class="alert alert-danger">
         This form contains errors!
         <% @asset.errors.full_messages.each do |msg| %>
          <li><%= msg =%></li>
         <% end %>
      </div>
    </div>
<% end %>


<% if(true) %>
  <div class="row">
      <div class = "col-md-6 col-md-offset-3">
        <%= form_for(@asset, multipart: true) do |f| %>
          <div class="field">
            <%= f.label :asset %>
            <%= f.file_field :asset %>
          </div>
          <div class="actions">
            <%= f.submit 'Upload', class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
  </div>
<% end %>


<%= link_to 'Back', assets_path %>
