<h1> Share With </h1>
<div class="row">
    <div class = "col-md-6 col-md-offset-3">
        <%= form_for :asset, :url => share_asset_path do |f| %>            
            <%= f.label :Email %>
            <%= f.text_field :email, class: 'form-control' %>    
            <%= f.submit "Share", class: "btn btn-primary" %>
        <% end %>
    </div>
</div> 
<br>
<%= link_to 'Back', assets_path %>
