<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <!-- insert logo here -->
    <nav>
      <ul class="nav navbar-nav navbar-right">
        
        <li> <%= link_to "Home", root_path=%> </li>
        <li><%= link_to "My Files", '#'=%></li>
        <li><%= link_to "Shared Files", '#'=%></li>
        
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Log out", '#' %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Login", login_path=%></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>