<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <!-- insert logo here -->
    <nav>
      <ul class="nav navbar-nav navbar-right">
        
        <li> <%= link_to "Home", root_path=%> </li>
        <li><%= link_to "My Files", assets_path=%></li>
        <li><%= link_to "Shared Files", shared_files_assets_path=%></li>
        
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% if(current_user.admin?) %>
                <li><%= link_to "Users", users_path %></li>
              <% end %>
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li> <!-- what is method: :delete? -->
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Login", login_path=%></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>